<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799255119636-gl3u3kk6c67bmd6ngv4lkt1ibclbeg51.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799255119636-gl3u3kk6c67bmd6ngv4lkt1ibclbeg51</string>
	<key>API_KEY</key>
	<string>AIzaSyByK22tfIzCfC45s835pE5V4PSXXNGNihA</string>
	<key>GCM_SENDER_ID</key>
	<string>799255119636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assignment4</string>
	<key>PROJECT_ID</key>
	<string>react-assignment-aca38</string>
	<key>STORAGE_BUCKET</key>
	<string>react-assignment-aca38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799255119636:ios:c5de45b10727de2ec3e401</string>
</dict>
</plist>